# ------------------------------------------------------------------------------------------------------------------------
# GHA Reusable Called Workflow to deploy an already built Function App
# ------------------------------------------------------------------------------------------------------------------------
# You need to set up secrets in the GitHub Secrets Repository before running these workflows.
#   See Docs\CreateGitHubSecrets\.md for details
# ------------------------------------------------------------------------------------------------------------------------
name: template.deploy.function
run-name: Deploy Function App
on:
  workflow_call:
    inputs:
      envCode:
        required: true
        type: string

# ------------------------------------------------------------------------------------------------------------------------
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    
    environment:
      name: ${{ inputs.envCode }}

    env:
      artifactName: functionapp
      generatedAppEnvName: ${{ vars.APP_NAME }}-${{ inputs.envCode }}

    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.artifactName }}

    # - name: List Files
    #   run: 
    #     tree ${{ env.GITHUB_ACTION_PATH }}
    #   continue-on-error: true

    # https://learn.microsoft.com/en-us/entra/workload-id/workload-identity-federation-create-trust
    - name: Login to Azure
      if: ${{ inputs.runCreateInfra }}
      uses: azure/login@v2
      # Login option using OICD Federated Credentials
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      # Login option using a client secret:
      #   with:
      #     creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

    - name: Deploy Azure Function Zip
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ env.generatedAppEnvName }}
        package: .
