# ------------------------------------------------------------------------------------------------------------------------
# GHA Reusable Called Workflow to build a Function App
# ------------------------------------------------------------------------------------------------------------------------
# You need to set up secrets in the GitHub Secrets Repository before running these workflows.
#   See Docs\CreateGitHubSecrets\.md for details
# ------------------------------------------------------------------------------------------------------------------------
name: template.functionapp.build
run-name: Build Function App
on:
  workflow_call:
    inputs:
      envCode:
        required: true
        type: string
      rootDirectory:
        required: true
        type: string
      projectName:
        required: true
        type: string
      testDirectory:
        required: false
        type: string
      testProjectName:
        required: false
        type: string
      listFilesAfterBuild:
        required: false
        type: boolean
        default: false
      testApplication:
        required: false
        type: boolean
        default: false
  
# ------------------------------------------------------------------------------------------------------------------------
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.envCode }}

    env:
      CONFIGURATION: Release
      DOTNET_CORE_VERSION: 8.0.x
      artifactName: functionapp

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Display Variables and Files
      run: |-
        echo "rootDirectory=${{ inputs.rootDirectory }}"
        echo "projectName=${{ inputs.projectName }}"
        echo "testDirectory=${{ inputs.testDirectory }}"
        echo "testProjectName=${{ inputs.testProjectName }}"
        echo "listFilesAfterBuild=${{ inputs.listFilesAfterBuild }}"
        echo "testApplication=${{ inputs.testApplication }}"

        echo "---------------------------------"
        echo "##[group]All Variables:"
        echo '${{ toJSON(env) }}'
        echo '${{ toJSON(vars) }}'
        echo '${{ toJSON(secrets) }}'
        echo "##[endgroup]"
        echo "---------------------------------"
        echo "##[group]Directory of ${{ github.workspace  }}"
        tree -R ${{ github.workspace  }}
        echo "##[endgroup]"
      continue-on-error: true

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_CORE_VERSION }}

    - name: Restore Dependencies
      run: dotnet restore "${{ inputs.rootDirectory }}"

    - name: Build Application
      run: dotnet build --configuration Release --no-restore --output ./output
      working-directory: ${{ inputs.rootDirectory }}

    - name: Test Application
      if: inputs.testApplication == true
      run: dotnet test --logger trx
      working-directory: ${{ inputs.testDirectory }}
      continue-on-error: true

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: inputs.testApplication == true
      with:
        files: |
          **/TestResults/**/*.trx
      continue-on-error: true

    # - name: Publish
    #   run: dotnet publish --configuration ${{ env.CONFIGURATION }} --no-build --output "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"
    #   working-directory: ${{ inputs.rootDirectory }}

    - name: Save Publish Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.artifactName }}
        path: ${{ inputs.rootDirectory }}/output

    - name: List All Files
      if: inputs.listFilesAfterBuild == true
      run: 
        tree ${{ github.action_path }}
